In [2]:
import pandas as pd

df = pd.DataFrame({
    'Category': ['A', 'B', 'A', 'B', 'A'],
    'Amount': [100, 200, 150, 120, 130]
})

result = df.groupby('Category').sum()
print(result)

          Amount
Category
A            380
B            320

In [4]:
df = pd.DataFrame({
    'Department': ['Sales', 'Sales', 'HR', 'HR', 'Tech'],
    'Salary': [50000, 55000, 40000, 42000, 60000]
})

result = df.groupby('Department').agg(['mean', 'max', 'min'])
print(result)

print("---------------------------------------------------------------")
# âœ… .agg() with Custom Column Names
df.groupby('Department').agg(
    Avg_Salary=('Salary', 'mean'),
    Max_Salary=('Salary', 'max'),
    Min_Salary=('Salary', 'min')
)

             Salary
               mean    max    min
Department
HR          41000.0  42000  40000
Sales       52500.0  55000  50000
Tech        60000.0  60000  60000
---------------------------------------------------------------

            Avg_Salary  Max_Salary  Min_Salary
Department
HR             41000.0       42000       40000
Sales          52500.0       55000       50000
Tech           60000.0       60000       60000