In [ ]:
import pandas as pd



data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 22],
    "Sex":['Female','Male','Male'],
    'City': ['Mumbai', 'Pune', 'Delhi']
}

df = pd.DataFrame(data)

# df[df['Age'] > 25]    

# df[(df['Age']>25) & (df['Age']<=30)]

df['New'] = df['Age'] * 2      # Add new column
male_prefix = "Mr." 
female_prefix = "Mrs."

df['Prefix'] = df['Sex'].apply(lambda sex: 'Mr.' if sex == 'Male' else 'Mrs.')

print(df)



df.drop('Prefix', axis=1, inplace=True) 
print("---------------------------------------------")
print(df)

      Name  Age     Sex    City  New Prefix
0    Alice   25  Female  Mumbai   50   Mrs.
1      Bob   30    Male    Pune   60    Mr.
2  Charlie   22    Male   Delhi   44    Mr.
---------------------------------------------
      Name  Age     Sex    City  New
0    Alice   25  Female  Mumbai   50
1      Bob   30    Male    Pune   60
2  Charlie   22    Male   Delhi   44

    Name    Age    Sex   City    New
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False