In [9]:
import pandas as pd

data = {
    'First_Name': ['Emma', 'Liam', 'Olivia', 'Noah'],
    'Last_Name': ['Wilson', 'Garcia', 'Martinez', 'Lee'],
    'Age': [28, 34, 26, 41],
    'Salary': [58000, 72000, 61000, 83000],
    'Department': ['Marketing', 'IT', 'Finance', 'Operations']
}

df = pd.DataFrame(data)
print(df)


# Step 2: Column Transformation Tasks
# ✅ 1. Combine First_Name and Last_Name into Full_Name

print("-----------------------------------------------")

df['Full_Name'] = df['First_Name'] + ' ' + df['Last_Name']
print(df)

print("-----------------------------------------------")
# ✅ 2. Create a new column Seniority based on Age

df['Seniority'] = df['Age'].apply(lambda x: 'Junior' if x < 30 else 'Senior')
print(df)

print("-----------------------------------------------")

# ✅ 3. Increase Salary by 10% and store in a new column Updated_Salary

df['Updated_Salary'] = df['Salary'] * 1.10

print(df)
print("-----------------------------------------------")
# ✅ 4. Extract the first 3 letters of Department into Dept_Code

df['Dept_Code'] = df['Department'].str[:3].str.upper()

print(df)

  First_Name Last_Name  Age  Salary  Department
0       Emma    Wilson   28   58000   Marketing
1       Liam    Garcia   34   72000          IT
2     Olivia  Martinez   26   61000     Finance
3       Noah       Lee   41   83000  Operations
-----------------------------------------------
  First_Name Last_Name  Age  Salary  Department        Full_Name
0       Emma    Wilson   28   58000   Marketing      Emma Wilson
1       Liam    Garcia   34   72000          IT      Liam Garcia
2     Olivia  Martinez   26   61000     Finance  Olivia Martinez
3       Noah       Lee   41   83000  Operations         Noah Lee
-----------------------------------------------
  First_Name Last_Name  Age  Salary  Department        Full_Name Seniority
0       Emma    Wilson   28   58000   Marketing      Emma Wilson    Junior
1       Liam    Garcia   34   72000          IT      Liam Garcia    Senior
2     Olivia  Martinez   26   61000     Finance  Olivia Martinez    Junior
3       Noah       Lee   41   83000  Operations         Noah Lee    Senior
-----------------------------------------------
  First_Name Last_Name  Age  Salary  Department        Full_Name Seniority  \
0       Emma    Wilson   28   58000   Marketing      Emma Wilson    Junior
1       Liam    Garcia   34   72000          IT      Liam Garcia    Senior
2     Olivia  Martinez   26   61000     Finance  Olivia Martinez    Junior
3       Noah       Lee   41   83000  Operations         Noah Lee    Senior

   Updated_Salary
0         63800.0
1         79200.0
2         67100.0
3         91300.0
-----------------------------------------------
  First_Name Last_Name  Age  Salary  Department        Full_Name Seniority  \
0       Emma    Wilson   28   58000   Marketing      Emma Wilson    Junior
1       Liam    Garcia   34   72000          IT      Liam Garcia    Senior
2     Olivia  Martinez   26   61000     Finance  Olivia Martinez    Junior
3       Noah       Lee   41   83000  Operations         Noah Lee    Senior

   Updated_Salary Dept_Code
0         63800.0       MAR
1         79200.0        IT
2         67100.0       FIN
3         91300.0       OPE