In [ ]:
# üìä 10. Pivoting & Reshaping

# üîÅ .pivot() ‚Äì Reshape from long to wide format
# Restructure data by turning unique values from one column into column headers.

import pandas as pd

df = pd.DataFrame({
    'Date': ['2024-01', '2024-01', '2024-02', '2024-02'],
    'Department': ['HR', 'Sales', 'HR', 'Sales'],
    'Revenue': [1000, 1500, 1100, 1800]
})




pivoted = df.pivot(index='Date', columns='Department', values='Revenue')
print(pivoted)

Department    HR  Sales
Date
2024-01     1000   1500
2024-02     1100   1800

In [2]:
import pandas as pd

df = pd.DataFrame({
    'Date': ['2024-01', '2024-01', '2024-02', '2024-02'],
    'Department': ['HR', 'Sales', 'HR', 'Sales'],
    'Revenue': [1000, 1500, 1100, 1800]
})


# üî¢ .pivot_table() ‚Äì Pivot with aggregation (like Excel Pivot Table)
# Same as .pivot(), but allows aggregation using sum(), mean(), etc.


pivot_tbl = df.pivot_table(index='Date', columns='Department', values='Revenue', aggfunc='sum')
print(pivot_tbl)



# Same result here because there‚Äôs only one row per combination, but it works with duplicates too!

Department    HR  Sales
Date
2024-01     1000   1500
2024-02     1100   1800

In [ ]:
# üìú Example where .pivot() would fail, but .pivot_table() works
# Imagine if you had this:
    
df = pd.DataFrame({
    'Date': ['2024-01', '2024-01', '2024-01', '2024-02', '2024-02'],
    'Department': ['HR', 'Sales', 'HR', 'HR', 'Sales'],
    'Revenue': [1000, 1500, 1100, 1200, 1800]
})


# Now, 'HR' in '2024-01' appears twice.

# ‚ùå Using .pivot():
    
df.pivot(index='Date', columns='Department', values='Revenue')

# ‚Üí ‚ùó Error: ValueError: Index contains duplicate entries, cannot reshape



# ‚úÖ Using .pivot_table():
    
df.pivot_table(index='Date', columns='Department', values='Revenue', aggfunc='sum')


# No error! It sums the revenues for duplicates:

# Department    HR  Sales
# Date                   
# 2024-01     2100   1500
# 2024-02     1200   1800


# (1000 + 1100 = 2100 for HR in 2024-01)


# ‚ú® Conclusion:
# If no duplicates ‚Üí .pivot() and .pivot_table() behave similarly.

# If duplicates exist ‚Üí use .pivot_table() with an aggregation function like sum, mean, etc.

In [ ]:
# üîª .melt() ‚Äì Convert wide format to long format
# Unpivots columns into rows ‚Äî very useful for tidy data.

df = pd.DataFrame({
    'Date': ['2024-01', '2024-02'],
    'HR': [1000, 1100],
    'Sales': [1500, 1800]
})

melted = pd.melt(df, id_vars='Date', value_vars=['HR', 'Sales'], var_name='Department', value_name='Revenue')
print(melted)