In [17]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Department': ['HR', 'IT', 'HR', 'IT', 'Finance'],
    'Salary': [50000, 60000, 52000, 62000, 55000],
    'Age': [25, 30, 28, 35, 40],
    'Score': [88, 92, 85, 95, 90]
}

df = pd.DataFrame(data)
print(df)


# df.groupby('Department')['Salary'].mean()
# df.agg({'Age': 'mean', 'Score': 'sum'})

res = df.groupby('Department')['Salary'].aggregate('mean')

print(res)

      Name Department  Salary  Age  Score
0    Alice         HR   50000   25     88
1      Bob         IT   60000   30     92
2  Charlie         HR   52000   28     85
3    David         IT   62000   35     95
4      Eve    Finance   55000   40     90
Department
Finance    55000.0
HR         51000.0
IT         61000.0
Name: Salary, dtype: float64