In [ ]:
# üîó 9. Merging & Joining in pandas

# üîÅ 1. pd.merge() ‚Üí SQL-style joins
# Joins two DataFrames on columns or keys, similar to SQL joins (INNER, LEFT, RIGHT, OUTER).

import pandas as pd

df1 = pd.DataFrame({
    'emp_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'emp_id': [1, 2, 4],
    'salary': [50000, 60000, 70000]
})

result = pd.merge(df1, df2, on='emp_id', how='inner')
print(result)



# üîÄ how options in merge():

# Join Type	Description

# 'inner'	Only matching keys (default)
# 'left'	All rows from left, match from right
# 'right'	All rows from right, match from left
# 'outer'	All rows from both sides, fill NaNs

   emp_id   name  salary
0       1  Alice   50000
1       2    Bob   60000

In [3]:
# üß© 2. .join() ‚Üí Join by index

# Used to join columns from another DataFrame using the index.


df1 = pd.DataFrame({'name': ['Alice', 'Bob']}, index=[1, 2])
df2 = pd.DataFrame({'salary': [50000, 60000]}, index=[2, 1])

result = df1.join(df2)
print(result)

    name  salary
1  Alice   60000
2    Bob   50000

In [ ]:
import pandas as pd
# üß± 3. pd.concat() ‚Üí Stack vertically or horizontally

# ‚úÖ Vertical stack (like UNION in SQL)

df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'A': [3, 4]})
df3 = pd.DataFrame({'B':[5,6]})


result = pd.concat([df1, df2,df3], ignore_index=True)
print(result)



# ‚úÖ Horizontal stack (like column expansion)


df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'B': ['x', 'y']})

result = pd.concat([df1, df2], axis=1)
print(result)




# üîç Summary

# Method	Use For
# pd.merge()	SQL-style joins on keys
# .join()	Join by index
# pd.concat()	Stack DataFrames (vertical/horizontal)

   A
0  1
1  2
2  3
3  4
   A  B
0  1  x
1  2  y