In [1]:
# üîó 9. Merging & Joining in pandas

# üîÅ 1. pd.merge() ‚Üí SQL-style joins
# Joins two DataFrames on columns or keys, similar to SQL joins (INNER, LEFT, RIGHT, OUTER).

import pandas as pd

df1 = pd.DataFrame({
    'emp_id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'emp_id': [1, 2, 4],
    'salary': [50000, 60000, 70000]
})

result = pd.merge(df1, df2, on='emp_id', how='inner')
print(result)

   emp_id   name  salary
0       1  Alice   50000
1       2    Bob   60000